    <link rel="stylesheet" href="/css/style.css">
    
    <footer class="framerate__footer">
      <img alt="Framerate logo" src="/images/logo.png" style="width: 100px; height: 100px;" />
      <span><b>Framerate - Copyright <%= new Date().getFullYear() %></b></span>
    </footer>

</body>
</html>