<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Framerate | <%= title %></title>
</head>

<body>

  <header class="framerate__header">
    <a class="framerate__header_image" href="/">
      <img alt="Framerate logo" src="/images/logo.png" style="width: 125px; height: 125px;" />
    </a>

    <nav class="framerate__header_navbar">
      <a class="framerate__header_navitem" href="/">Movies</a>
      <a class="framerate__header_navitem" href="/">Reviews</a>
    </nav>
    
  </header>
